extend layout
block content
  p hello world
  form(action="/create_admin/new", method="post")
    input(type="email", name="email", value="", placeholder="email")
    input(type="password", name="password", value="", placeholder="password")
    input(type="hidden" name="crumb" value="#{crumb}")
    button(type="submit") submit
  div(id='main') !{reactComponent}