doctype html
html
  head
    title sstateBB
    meta(charset='utf-8')
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    link(rel='stylesheet', href='/public/dist/_bundle.min.css')
    script.
      var layoutData = !{JSON.stringify(layoutData)};

  body
    block content
    script(type='text/javascript', src='/public/dist/_bundle.js')
