@import 'yeticss'


body
  border-style: solid
  border-color: lighten($gray-lighter, 50%)

//- Code Highlighting

pre
  color: black
  background: lighten($gray-lighter, 60%)

code
  color: black
  background: lighten($gray-lighter, 60%)


//- Header

header
  padding-bottom: $ui-padding-extra-spaced
  border-bottom: 1px solid lighten($gray-lighter, 50%)

  h1
    margin-bottom: 0

  p
    font-size: $font-large

  .button
    margin: $space 0 0 5px

  .spacing
    margin: $space 0 0 5px