@import 'normalize';

*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 850px;
}

a, a:hover, a:visited {
  color: #EA6262;
  text-decoration: none;

  .external {
    text-decoration: dashed;
  }
}

.nav {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    float: left;
  }
}

.logo {
  font-size: 30px;
  color: #EA6262;
}

.content {
  border-top: 1px solid #e6eaed;
  border-bottom: 1px solid #e6eaed;
  padding: 20px 0;
  margin: 10px 0;
}